*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
    justify-self: center;
    max-width: 2000px;
    height: 100%;
    background-color: #aa998b;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tittle{
    color: #f2f2f2;
    padding:50px;
    text-align: center;
}
/*aqui va lo del lider*/
.main-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titulo {
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
  }

  .carousel {
    position: relative;
    width: 800px;
    height: 400px;
    perspective: 1200px;
  }

  .carousel-track {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }

  .carousel-item {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    transition: transform 1s ease, opacity 1s ease, z-index 1s;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/*aqui termina*/
.ContSlider{
    width: 100%;
    height: auto;
}
.line{
    margin-left: 10%;
    width: 80%;
    height: 3px;
    background-color: #c0b9b3;
    border-radius: 20px;
}
.slider{
    height: 500px;
}
.ContArt{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 50px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #c0b9b3;
}
.subtittle{
    margin-top: 30px;
    font-size: 40px;
    color:#fff;
}
.info{
    text-align: justify;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
}
.imginline{
    max-width: 1000px;
    margin-top: 30px;
    display: flex;
    width: 70%;
    height: auto;
    border-radius: 30px;
    justify-self: center;
}
#contegipto{
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: auto;
}
#contimageegipto{
    align-self: center;
    width: 30%;
    height: auto;
}
#imgegipto{
    margin-top: 10px;
    border-radius: 30px;
    width: 100%;
    height: auto;
}
#continfoegipto{
    width: 70%;
    align-self: center;
}
#egiptotittle{
    text-align: center;
}
#infoegipto{
    justify-self: center;
    width: 60%;
    height: auto;
}
#contcomtemporaneo{
    display: flex;
    align-items: center;
}
#img4{
    margin-left: 20px;
    border-radius: 30px;
    width: 200px;
    height: auto;
}